.buttonIcon {
  width: 67px;
  height: 67px;
  border-radius: 20px;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  background-color: transparent;
}